
@{
    ViewBag.Title = "getPropeties";
}

<h2>Details</h2>

<label>URL:</label>@ViewBag.URL<br />
<label>Image Name:</label>@ViewBag.blobname<br />
<label>Length:</label>@ViewBag.Legnth<br />
<label>ETag:</label>@ViewBag.ETag<br />
<label>Created:</label>@ViewBag.Created<br />
<label>Last Modified:</label>@ViewBag.LastModified<br />